<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset ="utf8">
      <title><%= title %></title>
    </head>
<body>
<p> Welcome to the fantasy football ticker! </p>


<% if (auth_url) { %>
<p> Sign in to Yahoo below to get started.</p>
<a href="<%=auth_url%>">Sign in</a>
<% } else { %>
<p> Unfortunately, Yahoo integration is currently unavailable. Please try again later!</p>
<% } %>

</body>
</html>

